<script type="text/template" id="carroComprasList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>comprasId</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(carroComprass, function(carroCompras) { %>
    <tr>
		<td><%= htmlEncode(carroCompras.getDisplay('name')) %></td>
		<td><%= htmlEncode(carroCompras.getDisplay('comprasId')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-carroCompras-edit',{id:<%= carroCompras.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-carroCompras-delete',{id:<%= carroCompras.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="carroCompras">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-carroComprasForm">
    <% if(carroCompras.id) {%>
    <input type="hidden" name="id" value="<%= carroCompras.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= carroCompras.get('name') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="comprasidId">comprasId</label> 
            <select class="form-control" id="comprasId" name="comprasId">
			  <option value="">None</option>
            <% cliente.each(function(comprasid) { %> 
              <option value="<%=comprasid.get('id')%>" <% if(carroCompras.get('comprasId')==comprasid.get('id')) {%>selected<%}%> ><%=comprasid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 